name: Bazel
on: [ push, pull_request ]

jobs:
  build:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    container:
      image: gcr.io/bazel-public/bazel@sha256:35c128509642f76fede4ade16e8c829781048f6a62a7b2d9cfbabd45246af81a
      options: --user root
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        GOOGLE_BUCKET: https://storage.googleapis.com/ls-lint-bazel
    steps:
      - run: set -eu
      - uses: actions/checkout@v4
      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}
      - run: bazel run --remote_cache=$GOOGLE_BUCKET --google_default_credentials //:gazelle_fix_diff
      - run: bazel test --remote_cache=$GOOGLE_BUCKET --google_default_credentials //...
      - run: bazel build --remote_cache=$GOOGLE_BUCKET --google_default_credentials //...
      - run: bazel run //cmd/ls_lint:ls-lint -- --config ${PWD}/.ls-lint.yml --workdir ${PWD}

  build-no-cache: # unauthenticated contributors
    if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ubuntu-latest
    container:
      image: gcr.io/bazel-public/bazel@sha256:35c128509642f76fede4ade16e8c829781048f6a62a7b2d9cfbabd45246af81a
      options: --user root
    steps:
      - run: set -eu
      - uses: actions/checkout@v4
      - run: bazel run //:gazelle_fix_diff
      - run: bazel test //...
      - run: bazel build //...
      - run: bazel run //cmd/ls_lint:ls-lint -- --config ${PWD}/.ls-lint.yml --workdir ${PWD}

  release:
    needs: build
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    container:
      image: gcr.io/bazel-public/bazel@sha256:35c128509642f76fede4ade16e8c829781048f6a62a7b2d9cfbabd45246af81a
      options: --user root # ref: https://docs.github.com/en/actions/creating-actions/dockerfile-support-for-github-actions#user
    env:
      GH_TOKEN: ${{ github.token }}
      STABLE_GIT_TAG: ${{ github.ref_name }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      GOOGLE_BUCKET: https://storage.googleapis.com/ls-lint-bazel
    steps:
      - run: set -eu
      - uses: actions/checkout@v4
      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}
      - run: bazel run --remote_cache=$GOOGLE_BUCKET --google_default_credentials //deployments/github:ls_lint_publish
      - run: NPM_CONFIG_USERCONFIG=${GITHUB_WORKSPACE}/deployments/npm/.npmrc bazel run --remote_cache=$GOOGLE_BUCKET --google_default_credentials //deployments/npm:ls_lint.publish
